urxvt.font: xft:Inconsolata:size=14
urxvt.letterSpace: -1

urxvt.selectToClipboard: true

urxvt.scrollBar: false

urxvt.scrollTtyKeypress: true
urxvt.scrollTtyOutput: true
urxvt.scrollWithBuffer: true

urxvt.background: #fbf1c7
urxvt.foreground: #3c3836
urxvt.color0:  #fdf4c1
urxvt.color10: #79740e
urxvt.color11: #b57614
urxvt.color12: #076678
urxvt.color13: #8f3f71
urxvt.color14: #427b58
urxvt.color15: #3c3836
urxvt.color1:  #cc241d
urxvt.color2:  #98971a
urxvt.color3:  #d79921
urxvt.color4:  #458588
urxvt.color5:  #b16286
urxvt.color6:  #689d6a
urxvt.color7:  #7c6f64
urxvt.color8:  #928374
urxvt.color9:  #9d0006
